html {
    scroll-behavior: smooth;
}

.aside-menu {
    width: 16rem;
    height: 100vh;
    overflow-y: auto;
}

.menu-subhead {
    border-top-style: solid;
    border-width: thin;
}

.aside-menu a {
    width: 100%;
}

#btn-menu {
    height: max-content;
    width: max-content;
}

code {
    width: 50rem;
    overflow-x: auto;
}

.aside-submenu {
    height: max-content;
}

.grid-maxcols-2 {
    grid-template-columns: 1fr 16rem;
    justify-items: center;
}
