@media only screen and (max-width: 768px) {
    code {
        width: 30rem;
    }

    /* social media links on landing page */
    .link-smedia {
        flex-direction: column;
    }

    .aside-submenu {
        display: none;
    }
    
    .grid-maxcols-2 {
        grid-template-columns: 1fr;
    }
}