* {
    margin: 0;
    padding: 0;
}

/* .grid-1 {
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    grid-template-columns: repeat(1fr, 5);
}

.logo-wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
    color: var(--c-blue);
} */

.header-wrapper {
    color: var(--c-white);
    background: var(--c-blue);
}

.install-btn, .doc-btn {
    list-style: none;
}
.install-btn:hover {
    color: var(--c-yellow);
    cursor: pointer;
} 
.doc-btn:hover {
    color: var(--c-yellow);
    cursor: pointer;
}

.installation-div {
    display: none;
}

.documentation-div {
    display: flex;
}

.install-para {
    color: var(--c-darkgray);
}

.margin-btm-sm {
    margin-bottom: 0.7rem;
}

.margin-btm-md {
    margin-bottom: 1rem;
}

.margin-btm-lg {
    margin-bottom: 1.5rem;
}

.margin-btm-xlg {
    margin-bottom: 2rem;
}

.margin-top-md {
    margin-top: 1rem;
}

.margin-top-lg {
    margin-top: 1.5rem;
}

.margin-top-xlg {
    margin-top: 2rem;
}
aside > ul {
    background: lightgreen;
}
aside > ul >li{
    background: lightyellow;
    list-style: none;
}

aside > ul >li:hover{
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--c-black);
}

.pos-sticky {
    position: sticky;
    top: 0;
    left: 0;
}