<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel='stylesheet' href='https://deploy-preview-12--festive-mestorf-acecb0.netlify.app/stylesheet/style.css' />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/atom-one-dark.min.css" />
    <link rel='stylesheet' href='../../stylesheet/style.css' />
    <title>Akira_UI</title>
</head>

<body class="bg-primary">

    <!-- theme toggle button -->

    <span id="btn-theme" class="material-icons pos-absolute tr-1 icon-primary pd-s">
        bedtime
    </span>

    <!-- left navigation for pages -->

    <aside class="aside-menu bg-primary pos-fixed dis-hidden z-5">
        <ul>
            <li class='flx'>
                <a href="../../index.html" class="btn-txt txt-md bg-primary txt-primary txt-cap pd-s">getting
                    started</a>
            </li>
            <li class='flx txt-md txt-600 txt-ucase pd-s menu-subhead b-off-primary'>utilities</li>
            <li class='flx'>
                <a href="../utilities/display.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">display</a>
            </li>
            <li class='flx'>
                <a href="../utilities/position.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">positioning</a>
            </li>
            <li class='flx'>
                <a href="../utilities/text.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">text</a>
            </li>
            <li class='flx'>
                <a href="../utilities/border.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">border</a>
            </li>
            <li class='flx'>
                <a href="../utilities/icon.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">icons</a>
            </li>
            <li class='flx'>
                <a href="../utilities/spacing.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">spacing</a>
            </li>
            <li class='flx'>
                <a href="../utilities/color.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">colors</a>
            </li>
            <li class='flx'>
                <a href="../utilities/responsive.html"
                    class="btn-txt bg-primary txt-primary txt-cap pd-s">responsiveness</a>
            </li>
            <li class='flx txt-md txt-600 txt-ucase pd-s menu-subhead b-off-primary'>components</li>
            <li class='flx'>
                <a href="./alert.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">alerts</a>
            </li>
            <li class='flx'>
                <a href="./avatar.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">avatars</a>
            </li>
            <li class='flx'>
                <a href="./badge.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">badges</a>
            </li>
            <li class='flx'>
                <a href="./button.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">buttons</a>
            </li>
            <li class='flx'>
                <a href="./card.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">cards</a>
            </li>
            <li class='flx'>
                <a href="./drawer.html" class="btn-solid bg-secondary txt-secondary txt-cap pd-s">drawer</a>
            </li>
            <li class='flx'>
                <a href="./image.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">images</a>
            </li>
            <li class='flx'>
                <a href="./input.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">inputs</a>
            </li>
            <li class='flx'>
                <a href="./list.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">lists</a>
            </li>
            <li class='flx'>
                <a href="./modal.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">modals</a>
            </li>
            <li class='flx'>
                <a href="./navbar.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">navbars</a>
            </li>
            <li class='flx'>
                <a href="./rating.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">ratings</a>
            </li>
            <li class='flx'>
                <a href="./toast.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">toasts</a>
            </li>
        </ul>
    </aside>

    <!-- button for toggling left navigation's visibility -->

    <button id="btn-menu" class="btn-solid bg-secondary pd-s pos-fixed t-0">
        <span class="material-icons icon-secondary">
            menu_open
        </span>
    </button>

    <!-- current document -->

    <main id="main-doc" class="bg-primary grid grid-maxcols-2 pd-xxlg">

        <div id="div-demo">
            <p class="txt-lg txt-cap txt-primary mg-btm-s">Drawer Menu</p>
            <p id="drawer-basic" class="txt-md txt-cap txt-primary mg-btm-s">drawer is visible for the screens smaller
                than 768px.</p>
            <header class="flx flx-min-center flx-maj-start pd-s bg-off-primary">
                <nav id="nav-big" class="flx flx-min-center">
                    <p class="txt-primary mg-right-s">profile</p>
                    <p class="txt-primary mg-right-s">feed</p>
                    <p class="txt-primary mg-right-s">order</p>
                    <p class="txt-primary">messages</p>
                </nav>
                <div class="pos-relative">
                    <span id="btn-ham" class="material-icons icon-primary">
                        menu
                    </span>
                    <nav id="nav-small"
                        class="flx flx-column flx-min-center bg-off-primary pd-s pos-absolute z-10 tl-0">
                        <button id="btn-close-small" class="btn-txt bg-off-primary pd-xs">
                            <span class="material-icons mg-btm-s">close</span>
                        </button>
                        <p class="txt-primary txt-md txt-cap mg-btm-xs">profile</p>
                        <p class="txt-primary txt-md txt-cap mg-btm-xs">feed</p>
                        <p class="txt-primary txt-md txt-cap mg-btm-xs">order</p>
                        <p class="txt-primary txt-md txt-cap mg-btm-xs">messages</p>
                    </nav>
                </div>
            </header>
            <pre>
                <code>
                    &lt;header class="flx flx-min-center flx-maj-start pd-s bg-off-primary"&gt;
                        &lt;nav id="nav-big" class="flx flx-min-center"&gt;
                            &lt;p class="txt-primary mg-right-s"&gt;profile&lt;/p&gt;
                            &lt;p class="txt-primary mg-right-s"&gt;feed&lt;/p&gt;
                            &lt;p class="txt-primary mg-right-s"&gt;order&lt;/p
                            &lt;p class="txt-primary"&gt;messages&lt;/p&gt;
                        &lt;/nav&gt;
                        &lt;div class="pos-relative"&gt;
                            &lt;span id="btn-ham" class="material-icons icon-primary"&gt;
                                menu
                            &lt;/span&gt;
                            &lt;nav id="nav-small"
                                class="flx flx-column flx-min-center bg-off-primary pd-s pos-absolute z-10 tl-0"&gt;
                                &lt;button id="btn-close-small" class="btn-txt bg-off-primary pd-xs"&gt;
                                    &lt;span&gt; class="material-icons mg-btm-s"&gt;close&lt;/span&gt;
                                &lt;/button&gt;
                                &lt;p class="txt-primary txt-md txt-cap mg-btm-xs"&gt;profile&lt;/p&gt;
                                &lt;p class="txt-primary txt-md txt-cap mg-btm-xs"&gt;feed&lt;/p&gt;
                                &lt;p class="txt-primary txt-md txt-cap mg-btm-xs"&gt;order&lt;/p&gt;
                                &lt;p class="txt-primary txt-md txt-cap mg-btm-xs"&gt;messages&lt;/p&gt;
                            &lt;/nav&gt;
                        &lt;/div&gt;
                    &lt;/header&gt;
                </code>
            </pre>



            <p id="drawer-css" class="txt-md txt-cap txt-primary mg-btm-xs">drawer css</p>
            <pre>
                <code>
                    #btn-ham {
                        display: none;
                    }
                    
                    #nav-small {
                        display: none;
                    }                    
                </code>
            </pre>

            <p id="drawer-js" class="txt-md txt-cap txt-primary mg-btm-xs">drawer js</p>
            <pre>
                <code>
                    const hamBtn = document.querySelector('#btn-ham')
                    const navSmall = document.querySelector('#nav-small')
                    const smallNavCloseBtn = document.querySelector('#btn-close-small')


                    hamBtn.addEventListener('click', () => {
                        navSmall.style.display = 'flex'
                    })

                    smallNavCloseBtn.addEventListener('click', () => {
                        navSmall.style.display = 'none'
                    })
                </code>
            </pre>

        </div>

        <!-- right navigation in page links -->

        <aside class="aside-submenu pos-sticky t-0">
            <ul>
                <li id="pg-sublink" class="mg-btm-s">
                    <a href="#drawer-basic" class="txt-primary txt-cap">drawer menu</a>
                </li>
                <li id="pg-sublink" class="mg-btm-s">
                    <a href="#drawer-css" class="txt-primary txt-cap">drawer css</a>
                </li>
                <li id="pg-sublink" class="mg-btm-s">
                    <a href="#drawer-js" class="txt-primary txt-cap">drawer js</a>
                </li>

            </ul>
        </aside>
    </main>

</body>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script src='../../main-script.js'></script>
<script src='../../scripts/drawer-script.js'></script>
<script src='../../scripts/theme-script.js'></script>

</html>