<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel='stylesheet' href='https://deploy-preview-10--festive-mestorf-acecb0.netlify.app/stylesheet/style.css' />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/atom-one-dark.min.css" />
    <link rel='stylesheet' href='../../stylesheet/style.css' />
    <title>Akira_UI</title>
</head>

<body class="bg-primary">

    <!-- theme toggle button -->

    <span id="btn-theme" class="material-icons pos-absolute tr-1 icon-primary pd-s">
        bedtime
    </span>

    <!-- left navigation for pages -->

    <aside class="aside-menu bg-primary pos-fixed dis-hidden z-5">
        <ul>
            <li class='flx'>
                <a href="../../index.html" class="btn-txt txt-md bg-primary txt-primary txt-cap pd-s">getting
                    started</a>
            </li>
            <li class='flx txt-md txt-600 txt-ucase pd-s menu-subhead b-off-primary'>utilities</li>
            <li class='flx'>
                <a href="../utilities/display.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">display</a>
            </li>
            <li class='flx'>
                <a href="../utilities/position.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">positioning</a>
            </li>
            <li class='flx'>
                <a href="../utilities/text.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">text</a>
            </li>
            <li class='flx'>
                <a href="../utilities/border.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">border</a>
            </li>
            <li class='flx'>
                <a href="../utilities/icon.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">icons</a>
            </li>
            <li class='flx'>
                <a href="../utilities/spacing.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">spacing</a>
            </li>
            <li class='flx'>
                <a href="../utilities/color.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">colors</a>
            </li>
            <li class='flx'>
                <a href="../utilities/responsive.html"
                    class="btn-txt bg-primary txt-primary txt-cap pd-s">responsiveness</a>
            </li>
            <li class='flx txt-md txt-600 txt-ucase pd-s menu-subhead b-off-primary'>components</li>
            <li class='flx'>
                <a href="./alert.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">alerts</a>
            </li>
            <li class='flx'>
                <a href="./avatar.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">avatars</a>
            </li>
            <li class='flx'>
                <a href="./badge.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">badges</a>
            </li>
            <li class='flx'>
                <a href="./button.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">buttons</a>
            </li>
            <li class='flx'>
                <a href="./card.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">cards</a>
            </li>
            <li class='flx'>
                <a href="./image.html" class="btn-solid bg-secondary txt-secondary txt-cap pd-s">images</a>
            </li>
            <li class='flx'>
                <a href="./input.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">inputs</a>
            </li>
            <li class='flx'>
                <a href="./list.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">lists</a>
            </li>
            <li class='flx'>
                <a href="./modal.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">modals</a>
            </li>
            <li class='flx'>
                <a href="./navbar.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">navbars</a>
            </li>
            <li class='flx'>
                <a href="./rating.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">ratings</a>
            </li>
            <li class='flx'>
                <a href="./toast.html" class="btn-txt bg-primary txt-primary txt-cap pd-s">toasts</a>
            </li>
        </ul>
    </aside>

    <!-- button for toggling left navigation's visibility -->

    <button id="btn-menu" class="btn-solid bg-secondary pd-s pos-fixed t-0">
        <span class="material-icons icon-secondary">
            menu_open
        </span>
    </button>

    <!-- current document -->

    <main id="main-doc" class="bg-primary grid grid-maxcols-2 pd-xxlg">

        <div id="div-demo">

            <p class="txt-lg txt-cap txt-primary mg-btm-s">images</p>
            <p id="img-density" class="txt-md txt-cap txt-primary mg-btm-xs">density responsiveness at 900px</p>
            <img srcset='../../assets/img.jpg 500w,
            ../../assets/img2.jpg 200w' sizes="(min-width: 900px) 500px,
            200px" alt='Hairy cow' class='img-fit-cover' />
            <pre>
                <code>
                &lt;img srcset='../../assets/img.jpg 500w,
                ../../assets/img2.jpg 200w' sizes="(min-width: 900px) 500px,
                200px" alt='Hairy cow' class='img-fit-cover' /&gt;
                </code>
            </pre>

            <p id="img-res" class="txt-md txt-cap txt-primary mg-btm-xs">dimension responsiveness</p>
            <img src='../../assets/img.jpg' alt='Hairy cow' class='img-md img-fit-cover' />
            <pre>
                <code>
                &lt;img src='../../assets/img.jpg' alt='Hairy cow' class='img-md img-fit-cover' /&gt;
                </code>
            </pre>

            <p id="img-round" class="txt-md txt-cap txt-primary mg-btm-xs">round image</p>
            <img src='../../assets/img.jpg' alt='Hairy cow' class='img-s brd-full img-fit-cover' />
            <pre>
                <code>
                &lt;img src='../../assets/img.jpg' alt='Hairy cow' class='img-s brd-full img-fit-cover' /&gt;
                </code>
            </pre>

            <p id="img-css" class="txt-md txt-cap txt-primary mg-btm-xs">image css</p>
            <pre>
                <code>
                /* image fit  */

                .img-fit-cover {
                    object-fit: cover;
                }
                    
                .img-fit-contain {
                    object-fit: contain;
                }
                    
                /* image dimensions */
                    
                .img-xs {
                    width: 8rem;
                }
                    
                .img-s {
                    width: 15rem;
                }
                    
                .img-md {
                    width: 20rem;
                }
                    
                .img-lg {
                    width: 25rem;
                }
                    
                .img-xlg {
                    width: 30rem;
                }                    
                </code>
            </pre>

        </div>

        <!-- right navigation in page links -->

        <aside class="aside-submenu pos-sticky t-0">
            <ul>
                <li id="pg-sublink" class="mg-btm-s">
                    <a href="#img-density" class="txt-primary txt-cap">responsive density</a>
                </li>
                <li id="pg-sublink" class="mg-btm-s">
                    <a href="#img-res" class="txt-primary txt-cap">responsive dimensions</a>
                </li>
                <li id="pg-sublink" class="mg-btm-s">
                    <a href="#img-round" class="txt-primary txt-cap">round image</a>
                </li>
                <li id="pg-sublink" class="mg-btm-s">
                    <a href="#img-css" class="txt-primary txt-cap">image css</a>
                </li>
            </ul>
        </aside>
    </main>

</body>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script src='../../main-script.js'></script>
<script src='../../scripts/theme-script.js'></script>

</html>